@import '../table/Table.styles.less';

ul.ant-pagination.ant-table-pagination.ant-table-pagination-right.css-dev-only-do-not-override-1c0na6j>*:not(:last-child) {
  display: none;
}

thead {
  text-align: center;
}

.popup-confirm {
  .ant-popover-content {
    button {
      padding: 0 5px;
      width: 40%;
    }
  }

}