html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-has-header {
  padding-top: 64px;
}


:root {
  --height-header: 112px;
  --height-header-mobi: 72px;
  --height-header-mobi-with-search: 80px;
  --Primary-50: #fff7f0;
  --Primary-100: #ffe7d2;
  --Primary-200: #ffd7b4;
  --Primary-300: #ffc086;
  --Primary-400: #ffa859;
  --Primary-500: #ff881d;
  --Primary-600: #d56500;
  --Primary-700: #8e4300;
  --Primary-800: #6b3200;
  --Primary-900: #231100;
  --Success-50: #f6ffed;
  --Success-100: #e5ffc8;
  --Success-200: #ddffb6;
  --Success-300: #c3ff80;
  --Success-400: #b2ff5b;
  --Success-500: #7ded00;
  --Success-600: #5eb200;
  --Success-700: #3f7700;
  --Success-800: #2a4f00;
  --Success-900: #152800;
  --Neutral-50: #f8f9f9;
  --Neutral-100: #ebedee;
  --Neutral-200: #dee1e3;
  --Neutral-300: #d1d5d8;
  --Neutral-400: #bdc3c8;
  --Neutral-500: #9ca5ac;
  --Neutral-600: #707c86;
  --Neutral-700: #576168;
  --Neutral-800: #32373b;
  --Neutral-900: #191c1e;
  --Shades-W: #fff;
  --Shades-B: #000;
  --Error-50: #ffeded;
  --Error-100: #ffc8ca;
  --Error-200: #ffa4a7;
  --Error-300: #ff8083;
  --Error-400: #ff494e;
  --Error-500: #ed0007;
  --Error-600: #c60006;
  --Error-700: #9e0005;
  --Error-800: #770004;
  --Error-900: #4f0002;
  --Spacing-space-0: 0px;
  --Spacing-space-025: 1px;
  --Spacing-space-050: 2px;
  --Spacing-space-100: 4px;
  --Spacing-space-150: 6px;
  --Spacing-space-200: 8px;
  --Spacing-space-300: 12px;
  --Spacing-space-400: 16px;
  --Spacing-space-500: 20px;
  --Spacing-space-600: 24px;
  --Spacing-space-800: 32px;
  --Spacing-space-1000: 40px;
  --Spacing-space-1600: 64px;
  --Spacing-space-2000: 80px;
  --Spacing-space-2400: 96px;
  --Spacing-space-3200: 128px;
  --Shadow-button: 0px 1px 3px 0px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.2);
  --Shadow-XS: 0px 4px 8px 0px rgba(0,0,0,.1);
  --Shadow-S: 0px 6px 12px 0px rgba(0,0,0,.1);
  --Shadow-M: 0px 8px 16px 0px rgba(0,0,0,.1);
  --Shadow-L: 0px 10px 20px 0px rgba(0,0,0,.1);
  --Shadow-XL: 0px 12px 24px 0px rgba(0,0,0,.1);
  --Inward-S: 0px 2px 2px 0px rgba(0,0,0,.2) inset,0px 1px 1px 0px rgba(0,0,0,.12) inset;
  --Inward-M: 0px 4px 4px 0px rgba(0,0,0,.2) inset,0px 2px 1px 0px rgba(0,0,0,.12) inset,0px 1px 1px 0px rgba(0,0,0,.25) inset;
  --Inward-L: 0px 4px 4px 0px rgba(0,0,0,.2) inset,0px 2px 2px 0px rgba(0,0,0,.2) inset,0px 4px 4px 0px rgba(0,0,0,.1) inset
}